.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.card {
    padding-top: 10px;
    padding-bottom: 10px;
}