.container {
    padding-top: 10px;
}

.bar {
    margin: auto;
    display: flex;
}

.displayName {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.timeClass {
    display: flex;
    margin: auto;
    padding-bottom: 10px;
    justify-content: center;
}

.srch {
    padding-bottom: 7px;
}

.isValid {
    display: flex;
    justify-content: center;
    color: red;
    background-color: #FFCCCB;
}