.sidebar {
  display: flex;
  flex: 1;
  height: calc(100%);
  background-color: #212529;
  position: sticky;
  top: 50px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #212529;
  border-radius: 15px;
}

.sidebarWrapper {
  padding: 20px;
  color: lightgrey;
}

.sidebarMenu {
  margin-bottom: 20px;
}

.sidebarTitle {
  font-size: 20px;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: #212529;
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px;
}
.active {
  color: #0275d8;
  transition: 0.3s;
  opacity: 1;
}
